
{% extends 'base.html' %}

{% block title %}Caixa{% endblock %}

{% block content %}


<h2>Relatório de Agendamentos</h2>
    <table>
        <thead>
            <tr>
                <th>Data</th><th>Hora</th><th>Cliente</th><th>Profissional</th><th>Serviço</th><th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for a in agendamentos %}
            <tr>
                <td>{{ a.data }}</td>
                <td>{{ a.hora }}</td>
                <td>{{ a.cliente.nome }}</td>
                <td>{{ a.profissional.nome }}</td>
                <td>{{ a.servico }}</td>
                <td>{{ a.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>

{% endblock %}

